In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import plotly.express as px

In [2]:
df = pd.read_hdf('../../data/caterpillar/labeled_caterpillar_data/labeled_1354437_all.h5', key='star')
df.head()

,jzstar,jrstar,jphistar,vstar,xstar,ystar,zstar,idstar,estar,cluster_id
64375,1.804622,9.504578,-0.103119,37.844583,-0.102755,-0.083423,0.056922,36.0,118849.489274,1
64376,2.488017,6.636684,0.648326,78.129878,-0.066458,0.044940,-0.071238,36.0,109473.975064,1
64377,7.348178,2.453728,-5.348804,134.409012,-0.061493,0.093857,0.012801,36.0,113440.647147,1
64378,8.310122,5.878459,-2.156659,65.615799,-0.067170,0.066039,0.125655,36.0,120869.169378,1
64379,6.545989,5.473257,4.538952,91.063606,0.020057,-0.143342,0.042605,36.0,119039.685553,1

In [3]:
Counter(df['cluster_id'].to_numpy()).most_common()

[(219, 483763),
 (221, 220800),
 (218, 204568),
 (217, 82521),
 (215, 80010),
 (212, 60934),
 (214, 51632),
 (207, 39932),
 (213, 39618),
 (208, 13298),
 (203, 9397),
 (211, 7840),
 (201, 7179),
 (195, 7050),
 (202, 4758),
 (36, 4271),
 (205, 4184),
 (210, 3817),
 (197, 3755),
 (198, 3670),
 (111, 3582),
 (204, 3108),
 (117, 2894),
 (200, 2654),
 (209, 2609),
 (196, 2334),
 (199, 2176),
 (101, 2103),
 (133, 2096),
 (206, 1990),
 (38, 1924),
 (148, 1556),
 (32, 1366),
 (180, 1318),
 (165, 1292),
 (5, 1258),
 (110, 1232),
 (85, 1198),
 (63, 1088),
 (95, 1085),
 (107, 1014),
 (152, 994),
 (169, 963),
 (19, 942),
 (48, 930),
 (143, 928),
 (157, 908),
 (190, 887),
 (43, 874),
 (49, 867),
 (60, 849),
 (4, 826),
 (22, 821),
 (55, 780),
 (88, 777),
 (170, 766),
 (39, 717),
 (120, 712),
 (128, 688),
 (50, 674),
 (155, 640),
 (77, 628),
 (137, 611),
 (127, 610),
 (90, 602),
 (189, 562),
 (125, 556),
 (17, 553),
 (33, 517),
 (2, 516),
 (154, 512),
 (8, 490),
 (103, 486),
 (115, 474),
 (79, 460),
 (192, 455),
 (28, 440),
 (59, 430),
 (146, 430),
 (116, 412),
 (47, 406),
 (112, 406),
 (51, 384),
 (168, 380),
 (23, 378),
 (42, 377),
 (67, 375),
 (153, 374),
 (9, 370),
 (167, 368),
 (179, 366),
 (182, 356),
 (57, 354),
 (11, 346),
 (99, 346),
 (56, 344),
 (118, 342),
 (113, 337),
 (41, 332),
 (158, 329),
 (105, 323),
 (194, 310),
 (98, 309),
 (10, 307),
 (131, 307),
 (166, 304),
 (70, 300),
 (191, 299),
 (130, 290),
 (171, 287),
 (81, 286),
 (7, 282),
 (193, 276),
 (15, 274),
 (80, 264),
 (75, 256),
 (163, 253),
 (177, 252),
 (185, 252),
 (159, 244),
 (104, 243),
 (29, 241),
 (100, 240),
 (37, 239),
 (135, 238),
 (61, 236),
 (174, 232),
 (181, 232),
 (129, 228),
 (138, 220),
 (106, 218),
 (66, 216),
 (86, 216),
 (124, 212),
 (35, 205),
 (62, 204),
 (16, 202),
 (6, 201),
 (73, 199),
 (92, 196),
 (134, 196),
 (14, 194),
 (69, 193),
 (173, 192),
 (3, 186),
 (40, 186),
 (109, 183),
 (178, 183),
 (24, 182),
 (160, 182),
 (27, 176),
 (176, 176),
 (162, 173),
 (31, 172),
 (65, 172),
 (26, 164),
 (122, 164),
 (175, 163),
 (102, 162),
 (91, 160),
 (72, 159),
 (71, 157),
 (25, 156),
 (145, 156),
 (184, 156),
 (18, 155),
 (132, 154),
 (144, 154),
 (34, 152),
 (187, 152),
 (46, 148),
 (58, 146),
 (123, 146),
 (74, 144),
 (172, 144),
 (188, 144),
 (83, 142),
 (54, 140),
 (156, 137),
 (64, 136),
 (78, 136),
 (89, 136),
 (140, 136),
 (52, 135),
 (96, 135),
 (139, 135),
 (121, 134),
 (150, 133),
 (1, 132),
 (183, 131),
 (53, 129),
 (142, 129),
 (13, 128),
 (94, 128),
 (149, 126),
 (164, 125),
 (108, 124),
 (114, 122),
 (161, 122),
 (126, 121),
 (21, 118),
 (119, 118),
 (141, 118),
 (186, 118),
 (76, 117),
 (30, 115),
 (151, 115),
 (45, 114),
 (20, 112),
 (93, 111),
 (12, 110),
 (68, 110),
 (97, 108),
 (87, 106),
 (147, 104),
 (44, 103),
 (82, 102),
 (136, 98),
 (84, 50),
 (222, 2),
 (216, 1),
 (220, 1)]